@charset "UTF-8"

body {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 60px;
    display: block;

}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.445);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

header>h1 {
    font-size: 10vw;
    padding-top: 50px;
}

header>p {
    font-size:20px;
}

section#img01 {
    background-image: url(Imagens/imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(Imagens/imagens/background002.jpg);
    background-position: right center;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

* {
    margin: 0px;
    padding: 0px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}